main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.profile-content{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin: 8.125rem 50px 6.25rem;
    gap: 4.375rem;
}
.profile-content article{
    width: 40%;
}
.profile-content form{
    display: flex;
    flex-direction: column;
}

.profile-content label{
    margin-top: 0.9375rem;
    margin-bottom: 0.3125rem;
    font-family: Texte;
    letter-spacing: 2px;
    font-size: clamp(1rem, 2vw, 1.25rem);
}

.profile-content input{
    font-size: clamp(0.5rem, 2vw, 1.25rem);
    font-family: Texte;
    letter-spacing: 2px;
    height: 1.875rem;
    max-width: 18.75rem;
    margin-bottom: 0.3125rem;
    color: var(--Black-);
    font-family: Texte;
    background-color: var(--Background3-);
    border: none;
}

.profile-content button {
    align-self: start;
    margin: 20px 5px 20px ;
    font-family: Texte;
    font-size: clamp(0.5rem, 2vw, 1rem);
    font-weight: 200;
    letter-spacing: 2px;
    padding: 10px 25px 10px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
}

.profile-content button::after {
    content: "";
    background-color: var(--Background4-);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 0.4375rem;
    left: 0.4375rem;
    transition: 0.5s;
}

.profile-content button:hover::after {
    top: 0rem;
    left: 0rem;
}

table {
    color: var(--Black-);
    letter-spacing: 2px;
    font-size: clamp(0.5rem, 2vw, 1.25rem)
}

table th,
td {
    padding: 0.2rem;
    text-align: center;
    border-bottom: solid;
    border-bottom-width: 0.025rem;
    font-family: Texte;
    letter-spacing: 2px;
    font-size: clamp(0.5rem, 2vw, 1.25rem)
}
table a{
    color: var(--Black-);
    transition: ease-in-out 0.4s;
}
table a:hover{
    color: var(--Hover-);
}
