main h1{
    text-align: center;
    font-family: Title;
    letter-spacing: 4px;
    font-size: clamp(1rem, 3vw, 4rem);
}
main h2{
    margin-right: 50px;
    font-family: Texte;
    letter-spacing: 2px;
    font-size: clamp(1rem, 2vw, 1.85rem);
}
main p{
    font-family: Texte;
    letter-spacing: 2px;
    font-size: clamp(1rem, 2vw, 1.25rem);
}

hr{
    width: 50%;
}

form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-family: Texte;
    letter-spacing: 2px;
}

.image-art{
    width: 200px;
    padding-right: 50px;
}

main button{
    font-family: inherit;
    margin-left: 10px;
    margin-right: 10px;
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-family: Texte;
    letter-spacing: 2px;
    font-weight: 200;
    letter-spacing: 1px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
}
main button::after {
    content: "";
    background-color: var(--Background4-);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 0.4375rem;
    left: 0.4375rem;
    transition: 0.5s;
}

main button:hover::after {
    top: 0rem;
    left: 0rem;
}