html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    scroll-behavior: smooth;
}
footer ul{
    list-style-type : none;
    padding: 0;
    font-family: Texte;
    letter-spacing: 2px;
}
footer li a{
    text-decoration: none ;
    letter-spacing: 1px;
    color: var(--Black-);
    transition: all .2s ease-in-out;
    font-size: clamp(0.5rem, 2vw, 1rem);
}
.part-up section p{
    font-size: clamp(0.5rem, 2vw, 1rem);
    font-family: Texte;
    letter-spacing: 2px;
}
footer div div section h2{
    color: var(--Black-);
    letter-spacing: 4px;
    font-family: Title;
    font-size: clamp(1rem, 2vw, 1.5rem);
}
.container-footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Background0-);
}
.part-up section:nth-child(1){
    width: 50%;
    text-align: justify;
}
.part-up section:nth-child(2){
    width: 20%;
}
.part-up section:nth-child(3){
    width: 20%;
}
.part-up{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer hr{
    border-top-color:rgb(0, 0, 0);
    opacity:0.7;
    width: 70%;
}
.part-down{
    padding: 0.5%;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.part-down section p{
    font-size: clamp(0.5rem, 2vw, 1rem);
    font-family: Texte;
    letter-spacing: 2px;
}


/*Button param*/
.social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type : none;
    width: 20%;
}
.social button {
    border-radius: 3.125rem;
    width: 2.8125rem;
    height: 2.8125rem;
    cursor: pointer;
    border: none;
    font-family: 'Comfortaa', cursive;
    color: rgba(255,255,255,0.5);
    font-size: 1.25rem;
    box-shadow: inset 0px 3px 5px rgba(255,255,255,0.5), 0px 0px 10px rgba(0,0,0,0.15);
    background: linear-gradient(45deg, rgba(2,0,36,0) 5%, rgba(255,255,255,.5) 6%, rgba(255,255,255,0) 9%, rgba(255,255,255,.5) 10%, rgba(255,255,255,0) 17%, rgba(255,255,255,.5) 19%, rgba(255,255,255,0) 21%);
    background-size: 150%;
    background-position: right;
    background-color: var(--Background4-);
    transition: 1s;
}

footer button:hover {
    background-position: left;
    color: white;
    box-shadow: inset 0px 3px 5px rgba(255,255,255,1), 0px 0px 10px rgba(0,0,0,0.25);
}

footer button:focus {
    outline: none;
}

.facebook:hover{
    background-color:var(--Color1-) ;
}
.twitter:hover{
    background-color:var(--Color2-) ;
}
.instagram:hover{
    background-color:var(--Color3-) ;
}
.github:hover{
    background-color:var(--Color4-) ;
}
footer div div ul li a:hover{
    color: var(--Hover-);
}