

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 7.8125rem;
    margin-bottom: 7.8125rem ;
}

fieldset{
    display: flex;
    flex-direction: column;
}

fieldset legend{
    font-family: Title;
    font-size: clamp(0.5rem, 2vw, 1.5rem);
}

fieldset label{
    margin-top: 0.9375rem;
    margin-bottom: 0.3125rem;
    font-size: clamp(1rem, 2vw, 1.25rem);
}

fieldset input{
    font-size: clamp(0.5rem, 2vw, 1.25rem);
    height: 1.875rem;
    margin-bottom: 0.3125rem;
    color: var(--Black-);
    font-family: Texte;
    background-color: var(--Background3-);
    border: none;
}
form p {
    text-align: center;
    font-size: clamp(1rem, 2vw, 1.25rem);
}
/*BUTTON*/

form button {
    margin: 1.25rem 3.125rem 1.25rem ;
    font-family: inherit;
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: 200;
    letter-spacing: 1px;
    padding: 0.8125rem 3.125rem 0.8125rem;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
}

form button::after {
    content: "";
    background-color: var(--Background4-);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 0.4375rem;
    left: 0.4375rem;
    transition: 0.5s;
}

form button:hover::after {
    top: 0rem;
    left: 0rem;
}