main{
    display: flex;
    flex-direction: column;
    gap: 70px;
    background-color: var(--Background-);
}

/*Partie nouveauté du mois */
/* ! partie decouverte*/
.pres-site{
    height: 76vh;
    display: flex;
    flex-flow: row wrap;
}
.pres-site article:nth-child(1){
    width: 39%;
    background-image: url(../img/Moi.PNG);
    background-size: contain;
    background-attachment: fixed
}
article h1{
    text-align: center;
    font-size: clamp(1rem, 2vw, 2rem);
    text-shadow: 2px 2px 3px var(--White-);
}
.shadow{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--LightShadow-);
    transition: ease-in-out 0.3s;
}
.shadow:hover{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Transparent-);
    color: var(--DarkGrey-);
}
article .shadow button {
    font-size: clamp(0.5rem, 2vw, 1.3rem);
    letter-spacing: 1px;
    padding: 0.625rem 1.5625rem 0.625rem;
    border: 1px solid black;
    cursor: pointer;
    background-color: var(--BackgroundTrans-);
    position: relative;
    transition: ease-in-out 0.4s;
}
article .shadow button:hover {
    background-color: var(--Background4-);
    box-shadow: 5px 5px 3px var(--WhiteShadow-);
}

/* ! partie nouveauté*/

.pres-site article:nth-child(2){
    width: 61%;
    display: flex;
    flex-direction: column;
}
article img {
    max-width: 40%;
    height: auto;
}
.month-item{
    display: flex;
    flex-direction: row;
    margin: 50px;
}
.info-item{
    display: flex;
    flex-direction: column;
}

.info-item h2{
    font-size: clamp(1rem, 2vw, 1.85rem);
    margin: 0 1.25rem 0.625rem;
}
.info-item h3{
    font-size: clamp(0.75rem, 2vw, 1.5rem);
    margin: 0 1.25rem 1.25rem;
}
.info-item p{
    font-size: clamp(0.5rem, 2vw, 1.25rem);
    margin: 0 1.25rem 1.25rem;
    text-align: justify;
}
article .info-item button {
    font-size: clamp(0.5rem, 2vw, 1.3rem);
    letter-spacing: 1px;
    padding: 0.625rem 1.5625rem 0.625rem;
    margin: 0 1.25rem;
    border: 1px solid black;
    cursor: pointer;
    background-color: var(--Transparent-);
    position: relative;
    transition: ease-in-out 0.4s;
}
article .info-item button:hover {
    background-color: var(--Background4-);
    box-shadow: 5px 5px 3px var(--Shadow-);
}

/*Parralax de transition*/
.parallax-1{
    background:url(https://ih1.redbubble.net/image.1101535367.0282/flat,750x,075,f-pad,750x1000,f8f8f8.jpg) no-repeat center ;
    background-size: cover;
    background-attachment: fixed;
    align-self: center;
    height: 25vh;
    width:80%;
}
.parallax-2{
    background:url(https://i.pinimg.com/originals/71/62/6b/71626b1c2ee355f20ab07cea459d5c58.jpg) no-repeat center ;
    background-size: cover;
    background-attachment: fixed;
    align-self: center;
    height: 25vh;
    width:80%;
}

/*Partie Meilleures ventes*/
.best-seller{
    height: 90vh;
    background-color:yellowgreen;
}

/*Partie Message client*/
.satisfaction{
    height: 90vh;
    background-color:yellow;
}


/* Pastilles indications*/
.promess{
    height: 40vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.promess h3 {
    font-size: clamp(0.75rem, 2vw, 1.5rem);
}

.promess article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.promess img {
    width: 6.25rem;
}
.promess img:hover {
    animation: rotate-btn 0.5s linear 1;
}

@keyframes rotate-btn {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}