main{
    display: flex;
    flex-direction: column;
    gap: 70px;
    background-color: var(--Background-);
}

/*Partie nouveauté du mois */
/* ! partie decouverte*/
.pres-site{
    height: 76vh;
    display: flex;
    flex-flow: row wrap;
}
.pres-site article:nth-child(1){
    width: 39%;
    background-image: url(../img/Moi.PNG);
    background-size: contain;
    background-attachment: fixed
}
article h1{
    text-align: center;
    text-shadow: 2px 2px 3px var(--White-);
    font-family: Title;
    letter-spacing: 4px;
    font-size: clamp(1rem, 3vw, 4rem);
    margin-top: 25px;
    margin-bottom: 0;
}
.shadow{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--LightShadow-);
    transition: ease-in-out 0.3s;
}
.shadow:hover{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Transparent-);
    color: var(--DarkGrey-);
}
article .shadow button {
    font-size: clamp(0.5rem, 2vw, 1.3rem);
    letter-spacing: 2px;
    font-family: Texte;
    padding: 0.625rem 1.5625rem 0.625rem;
    border: 1px solid black;
    cursor: pointer;
    background-color: var(--BackgroundTrans-);
    position: relative;
    transition: ease-in-out 0.4s;
}
article .shadow button:hover {
    background-color: var(--Background4-);
    box-shadow: 5px 5px 3px var(--WhiteShadow-);
}

/* ! partie nouveauté*/

.pres-site article:nth-child(2){
    width: 61%;
    display: flex;
    flex-direction: column;
}
article img {
    max-width: 40%;
    height: auto;
}
.month-item{
    display: flex;
    flex-direction: row;
    margin: 50px;
}
.info-item{
    display: flex;
    flex-direction: column;
}

.info-item h2{
    font-size: clamp(1rem, 2vw, 1.85rem);
    margin: 0 1.25rem 0.625rem;
    font-family: Texte;
    letter-spacing: 2px;
}
.info-item h3{
    font-size: clamp(0.75rem, 2vw, 1.5rem);
    margin: 0 1.25rem 1.25rem;
    font-family: Texte;
    letter-spacing: 1px;
}
.info-item p{
    font-size: clamp(0.5rem, 2vw, 1.25rem);
    margin: 0 1.25rem 1.25rem;
    text-align: justify;
    font-family: Texte;
    letter-spacing: 1px;
}
article .info-item button {
    font-size: clamp(0.5rem, 2vw, 1.3rem);
    letter-spacing: 2px;
    font-family: Texte;
    padding: 0.625rem 1.5625rem 0.625rem;
    margin: 0 1.25rem;
    border: 1px solid black;
    cursor: pointer;
    background-color: var(--Transparent-);
    position: relative;
    transition: ease-in-out 0.4s;
}
article .info-item button:hover {
    background-color: var(--Background4-);
    box-shadow: 5px 5px 3px var(--Shadow-);
}

/*Parralax de transition*/
.parallax-1{
    background:url(https://ih1.redbubble.net/image.1101535367.0282/flat,750x,075,f-pad,750x1000,f8f8f8.jpg) no-repeat center ;
    background-size: cover;
    background-attachment: fixed;
    align-self: center;
    height: 25vh;
    width:80%;
}
.parallax-2{
    background:url(https://i.pinimg.com/originals/71/62/6b/71626b1c2ee355f20ab07cea459d5c58.jpg) no-repeat center ;
    background-size: cover;
    background-attachment: fixed;
    align-self: center;
    height: 25vh;
    width:80%;
}

/*Partie Meilleures ventes*/
.best-seller{
    height: 90vh;
    display: flex;
    flex-direction: column;
}
.best-seller h1{
    font-size: clamp(1rem, 3vw, 3.5rem);
    text-align: center;
    font-family: Title;
    letter-spacing: 4px;
    margin-top: 0;
}


/*! test */

.container {
    height: 80%;
    width: 95%;
    top: 60px;
    left: calc(50% - 300px);
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    height: 75%;
    width: 18%;
    background-color: var(--Background2-);
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
}

.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
}

.card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
}

.title {
    color: black;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
    font-family: Title;
    letter-spacing: 2px;
    font-size: clamp(1rem, 2vw, 2rem);
}

.bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 150px;
}

.emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
}

.filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, #BF9B9B 0%, #C7A8A8 65%, #D7C1C1 100%);
    transition: 0.6s ease-out;
}

.card:hover .filledbar {
    width: 100%;
    transition: 0.4s ease-out;
}

.circle {
    position: absolute;
    top: 30%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.image-article{
    width: 70%;
}

.button-card {
    align-self: center;
    width: fit-content;
    margin-top: 1.25rem;
    padding: 13px 20px 13px;
    font-size: clamp(0.5rem, 2vw, 1.3rem);
    letter-spacing: 2px;
    font-family: Texte;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    transition: ease-in-out 0.4s;
}

.button-card:hover {
    background-color: var(--Background5-);
    box-shadow: 5px 5px 3px var(--Shadow-);
}
/*! test */

/*Partie Message client*/
.satisfaction{
    height: 35vh;
}
.satisfaction h1{
    font-size: clamp(1rem, 3vw, 3.5rem);
    text-align: center;
    font-family: Title;
    letter-spacing: 4px;
    margin-top: 0;
}
.com-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 6.25rem;
}

.container-com{
    width: 25%;
    transition: ease-in-out 0.5s;
    background-color: var(--Background0-);
}
.container-com:hover{
    box-shadow: 1px 2px 3px 1px var(--Background4-);
}

.container-com h2{
    font-size: clamp(1rem, 2vw, 1.85rem);
    margin: 0 1.25rem 0.625rem;
    font-family: Texte;
    letter-spacing: 2px;
}
.container-com h3{
    font-size: clamp(0.75rem, 2vw, 1.5rem);
    margin: 0 1.25rem 1.25rem;
    font-family: Texte;
    letter-spacing: 1px;
}
.container-com h5{
    font-size: clamp(0.75rem, 2vw, 1.1rem);
    margin: 0 1.25rem 1.25rem;
    font-family: Texte;
    letter-spacing: 1px;
}


/* Pastilles indications*/
.promess{
    height: 40vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.promess h3 {
    font-size: clamp(0.75rem, 2vw, 1.5rem);
    font-family: Texte;
    letter-spacing: 2px;
}

.promess article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.promess img {
    width: 6.25rem;
}
.promess img:hover {
    animation: rotate-btn 0.5s linear 1;
}

@keyframes rotate-btn {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}