main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 50px;
}

main section:nth-child(1){
    display: flex;
    flex-direction: column;
}
section article:nth-child(1){
    display: flex;
    flex-direction: row;
    margin-top: 4.375rem;
}
section article:nth-child(2){
    display: flex;
    flex-direction: column;
}
section article img{
    width: 25rem;
    border: inset var(--Grey-) 5px;
}
section article h2{
    font-family: Title;
    letter-spacing: 4px;
    font-size: clamp(1rem, 2.5vw, 2.8rem);
    margin: 0 1.25rem 0.625rem;
}

section article h3{
    font-family: Texte;
    letter-spacing: 2px;
    font-size: clamp(1rem, 2vw, 1.20rem);
    margin: 0 1.25rem 1.25rem;
}

section article div p{
    font-size: clamp(0.5rem, 2vw, 1.15rem);
    font-family: Texte;
    letter-spacing: 2px;
    margin: 0 1.25rem 1.25rem;
    text-align: justify;
    width: 700px;
}
.box_comm p{
    font-family: Texte;
    letter-spacing: 2px;
    font-size: clamp(1rem, 2vw, 1.25rem);
    margin:5px 0 ;
    text-align: justify;
    width: 700px;
}

form article button{
    align-self: start;
    margin: 0 20px  ;
    font-family: Texte;
    font-size: clamp(0.5rem, 2vw, 1rem);
    font-weight: 200;
    letter-spacing: 2px;
    padding: 0.625rem 1.5625rem 0.625rem;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
}
.send_comm{
    align-self: start;
    font-family: inherit;
    margin: 20px 0 50px;
    font-size: clamp(0.5rem, 2vw, 1rem);
    font-weight: 200;
    letter-spacing: 1px;
    padding: 0.625rem 1.5625rem 0.625rem;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
}

form article button::after,
.send_comm::after {
    content: "";
    background-color: var(--Background4-);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 0.4375rem;
    left: 0.4375rem;
    transition: 0.5s;
}

form article button:hover::after,
.send_comm:hover::after {
    top: 0rem;
    left: 0rem;
}

main section:nth-child(2){
    display: flex;
    flex-direction: column;
}

main section form{
    display: flex;
    flex-direction: column;
    font-family: Texte;
    letter-spacing: 2px;
    font-size: clamp(1rem, 2vw, 1.25rem);
}

hr{
    background-color: var(--Black-);
    width: 80%;
}

.rating-box{
    background-color: violet;
    width: 18.75rem;
    height: 7.1875rem;
}

div form label{
    margin-top: 0.9375rem;
    margin-bottom: 0.3125rem;
    margin-left: 1.25rem;
    font-size: clamp(1rem, 2vw, 1.25rem);
}
.box_comm form label{
    margin-top: 20px ;
    font-size: clamp(1rem, 2vw, 1.25rem);
}
div form select{
    margin-bottom: 0.625rem;
    margin-left: 1.25rem;
    font-size: clamp(1rem, 2vw, 1.25rem);
}

form article {
    display: flex;
    flex-direction: row;
    margin-top: 0.625rem;
}

.container_com{
    padding: 2%;
}

.all_com{
    display: flex;
    flex-direction: row;
    height: 100px;
    padding: 1%;
}

.com_left{
    border: solid var(--Grey-) 1px;
    width: 30%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.com_right{
    border: solid var(--Grey-) 1px;
    width: 70%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.p_left{
    margin: 0;
}