*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 21px;
    font-size: 13px;
    min-height: 100%;
}
main{
    display: block;
}

div {
    display: block;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#cart {
    position: relative;
    padding-top: 0;
    width: 100%;
    min-height: 500px;
    max-width: 1200px;
}

#cart-form{
    padding: 0;
}

.border-btm{
    border-bottom: 1.5px solid #2c2b2b29;
}
.border-top{
    border-top: 1.5px solid #2c2b2b29;
}
.row .col.s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row .col {
    float: left;
    box-sizing: border-box;
    padding: 0 0.75rem
}
.row {
    margin: 0 0 30px 0;
}

.col {
    padding: 0 0.75rem;
}

.cart-item{
    position: relative;
}

.cartpage {
    padding: 50px 50px 40px 55px;
}

.table {
    display: table;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.thead {
    display: table-header-group;
}

.tbody {
    display: table-row-group;
    width: 100%;
}
.td, .th {
    display: table-cell;
}

.tr {
    display: table-row;
    width: 100%;
}

.td {
    vertical-align: middle;
    padding: 10px;
    padding-bottom: 10px;
}

.tr .td {
    border-top: 1px solid #dddddd;
}
.tr:first-child .td {
    border-top: 1.5px solid #dddddd;
    padding-bottom: 10px;
}
.tr:last-child .td {
    border-top: 1px solid #dddddd;
    border-bottom: 1.5px solid #dddddd;
}


.box {
    overflow: hidden;
    width: max-content;
}
.item {
    max-width: 400px;
}

.price {
    white-space: nowrap;
    font-size: 1em;
    margin-top: 0;
    min-width: 100px;
    color: #444444;
    font-size: 16px;
    text-align: center;
}
.qty {
    text-align: center;
    color: #5d5d5d;
    padding: 0;
    font-size: 16px;
}
.yourcart {
    display: inline;
}
.title {
    width: 30%;
}

.sumprice {
    text-align: center;
    color: #5d5d5d;
    font-size: 16px;
}
.remove{
    text-align: center;
    color: #5d5d5d;
    padding: 0;
    font-size: 14px;
}

.image {
    text-align: left;
}

#confirm {
    display: block;
    box-sizing: border-box;
}
#confirm .information-product:first-child {
    margin-top: 0px;
}
#confirm > div {
    box-sizing: border-box;
}
.information-product {
    width: 100%;
    color: #2d2d2d;
}
.else {
    display: flex;
    width: 100%;
}
.else-left {
    margin-right: 60px;
    width: 100%;
    max-width: 761px;
    position: relative;
    top: -20px;
}
.information-product .left-info {
    margin: 0;
}
.information-product ol, .information-product ul:not(#methods) {
    counter-reset: list 0;
    margin-top: 10px;
    list-style: none;
    margin: 0;
}
ul, ol {
    margin: 0;
    padding: 0;
}
.information-product ol li, .information-product ul:not(#methods) li {
    counter-increment: list 1;
    display: flex;
    position: relative;
    padding: 20px 0;
    border-bottom: 1px solid #d5d5d5;
}
.information-product ol li:before, .information-product ul:not(#methods) li:before {
    content: "";
    background-image: url(https://cdn.shopify.com/s/files/1/0740/2335/files/cart-info-icon.svg?8432994);
    min-width: 22px;
    height: 22px;
    position: relative;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    margin-left: 5px;
    margin-right: 18px;
}
.information-product ol li p, .information-product ul:not(#methods) li p {
    margin: 0;
}
p {
    margin: 0;
}
strong {
    font-weight: bold;
}
.else-right {
    width: 100%;
    max-width: 415px;
}
.else-right .price-info {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 21px;
}
.else-right .price-info-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}
.else-right .price-info-text {
    font-size: 16px;
    line-height: 21px;
    width: max-content;
    text-align: end;
    margin: 0;
    max-width: 300px;
}
.cart-subtotal {
    position: relative;
    text-align: right;
    min-height: 30px;
}
h2 {
    font-family: 'LemurRhinoshield', 'NotoSansCJKtc', 'NotoSansThai';
    font-weight: bold;
    font-size: 21px;
    line-height: 1.1;
}
.else-right .price-info-shipping {
    margin-bottom: 0;
}
.else-right .price-info-line {
    border-bottom: 2px solid #ddd;
    margin: 20px 0 30px;
    width: 100%;
}
.else-right .price-info .discount {
    width: 100%;
    margin-bottom: 30px;
}
.else-right .price-info .promo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.else-right .price-info .promo-input {
    border: 2px solid #d5d5d5;
    box-sizing: border-box;
    border-radius: 6px!important;
    width: 75%;
    height: 3rem;
    margin-bottom: 0;
    padding-left: 15px;
    font-size: 14px;
}
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #b3b3b3;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1em;
    margin: 0 0 20px;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
input, textarea, select {
    border: 1px solid #f6f6f6;
    border-radius: 0;
    max-width: 100%;
    height: 35px;
}

input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.else-right .price-info .promo-apply {
    background: #323232;
    border-radius: 6px;
    color: #fff;
    width: 20%;
    height: 3rem;
    border: 0 solid transparent;
    font-size: 14px;
}

button, input[type="submit"], label[for] {
    cursor: pointer;
}
.else-right-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
.else-right-btn {
    width: 100%;
    height: 40px;
    max-width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 26px;
    background-color: var(--Background0-);
    color: var(--Black-);
    font-size: 14px;
    line-height: 13px;
    font-weight: 700;
    text-decoration: none;
    padding: 10px;
    margin: 0;
}